$def with (t_body, t_body_news, form)

Template loaded:<br>

<form action="fill_form" method="POST"> 
	<textarea name="partial_fill_article" style="width:600px;height:200px" >$t_body</textarea>
	<textarea name="partial_fill_news" style="width:600px;height:200px">$t_body_news</textarea>
	<br>
	<input type="submit" name="form_action" value="Save article" />
	<input type="submit" name="form_action" value="Save news"  />

	<br>Some fields still need completion:<br>
	$:form.render()
	<input type="submit"  name="form_action" value="Fill missing fields" />
</form>
